<div class="contenedor-nuest-momen">
  <div class="colum-nuest-momen">

    <div class="Seccion-galeria">
      <div class="galeriaFotosBoda">
        <div class="galeriaFotosBoda-carousel" #slides>
          <div class="galeriaFotosBoda-slide active">
            <img src="assets/img-01.jpg" alt="Foto 1">
          </div>
          <div class="galeriaFotosBoda-slide">
            <img src="assets/img-07.jpg" alt="Foto 2">
          </div>
          <div class="galeriaFotosBoda-slide">
            <img src="assets/img-08.jpg" alt="Foto 3">
          </div>
          <div class="galeriaFotosBoda-slide">
            <img src="assets/img-05.jpg" alt="Foto 4">
          </div>
          <div class="galeriaFotosBoda-slide">
            <img src="assets/img-04.jpg" alt="Foto 5">
          </div>
        </div>
        <button class="galeriaFotosBoda-prev" #prevButton>❮</button>
        <button class="galeriaFotosBoda-next" #nextButton>❯</button>
      </div>
    </div><br><br>

    <p class="titulo-momen">
      {{ traductorService.getTexto("tituloMomentos") }}
    </p>
    <p class="textosec">
      {{ traductorService.getTexto("textoMomentos") }}
    </p>
    <a href="https://photos.app.goo.gl/doLbQ94iqDuGoyux9" class="cerm-recep-button">
      ¡SUBIR FOTO!
    </a>
  </div>
</div>
