<div class="contenedor-nuest-momen">
  <div class="colum-nuest-momen">
    <!--
      <img src="assets/camara.gif" alt="Imagen 1" width="20%">
      <div class="carousel-container">
        <div class="carousel">
          <img src="assets/img-01.jpg" alt="Imagen 1">
          <img src="assets/img-04.jpg" alt="Imagen 2">
          <img src="assets/img-07.jpg" alt="Imagen 3">
        </div>
      </div>
      -->
    <div class="grid">
      <div class="grid-item" data-aos="zoom-in">
        <img src="assets/img-06.jpg" class="grid-item">
      </div>
      <div class="grid-item grid-item--width2" data-aos="zoom-in">
        <img src="assets/img-07.jpg" class="grid-item">
      </div>
      <div class="grid-item grid-item--width2" data-aos="zoom-in">
        <img src="assets/img-01.jpg" class="grid-item">
      </div>
      <div class="grid-item grid-item--height2" data-aos="zoom-in">
        <img src="assets/img-08.jpg" class="grid-item">
      </div>
    </div>
    <div class="grid">
      <div class="grid-item grid-item--width2 grid-item--row1" data-aos="zoom-in">
        <img src="assets/img-05.jpg" alt="Imagen 2 columnas">
      </div>
      <div class="grid-item grid-item--width4 grid-item--row1" data-aos="zoom-in">
        <img src="assets/img-04.jpg" alt="Imagen 4 columnas">
      </div>
    </div>
    <br>
    <p class="textosec">
      {{traductorService.getTexto("textoMomentos")}}
    </p>
    <a href="https://photos.app.goo.gl/doLbQ94iqDuGoyux9" class="cerm-recep-button">
      ¡SUBIR FOTO!
    </a>
  </div>
</div>
