<div class="contenedor-timeline" data-aos="fade-up">
  <div class="colum-timeline">
    <div class="colum-timeline-text">
      <p id="timeline1" >
        {{traductorService.getTexto("tituloItinerario1")}}
        <br>
      </p>
      <span id="timeline2">
        {{traductorService.getTexto("subttuloItinerario")}}
      </span>
    </div>
    <div>
      <div class="container">

        <div class="timeline">
          <div class="timeline-item">
            <div class="timeline-content">
              <h2 id="iticeremonia">{{traductorService.getTexto("itiCeremonia")}}</h2>
              <p id="iticeremonia2">4:00 PM</p>
            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-content">
              <h2 id="itiRecepcion">{{traductorService.getTexto("itiRecepcion")}}</h2>
              <p id="itiRecepcion2">6:00 PM</p>
            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-content">
              <h2 id="itiCivil">{{traductorService.getTexto("itiCivil")}}</h2>
              <p id="itiCivil2">7:00 PM</p>
            </div>
          </div>
          <div class="timeline-item">
            <div class="timeline-content">
              <h2 id="itiComida">{{traductorService.getTexto("itiComida")}}</h2>
              <p id="itiComida2">7:30 PM</p>
            </div>
          </div>
          
        </div>

      </div>
    </div>
  </div>
</div>
