<div class="contenedor-confir-asistencia">
  <div class="colum-confir-asistencia" >
    <img src="assets/icon-invit.png" alt="invitación" class="img-icon">
    <br>
    <p class="titulo-confir-aistencia" data-aos="zoom-out">
      CONFIRMA TU <br> ASISTENCIA
    </p>
    <div class="contenedor-texto">
      <P class="textosec">
        {{traductorService.getTexto("textoConfirmacionUno")}}
      </P>
      <p class="textosec">
        {{traductorService.getTexto("textoConfirmacionDos")}}
      </p>
    </div>
    <a href="https://forms.gle/PAkduq4DLngX5rWS8" class="confir-asisten-button">
      {{traductorService.getTexto("buttonConfirmacion")}}
    </a>
  </div>
</div>
