<div class="contenedor-padres" >
    <div data-aos="fade-up">
      <p class="tBendicion">{{traductorService.getTexto("tituloInicialPadres")}}</p>
      <p class="tBendicion">{{traductorService.getTexto("subTituloInicialPadres")}}</p>
    </div>
    <div class="contenedor-nombres-padres" data-aos="fade-up">
        <div class="nombres derecha"data-aos="fade-up">
          <p class="titulo">{{traductorService.getTexto("nomPadresNovio")}}</p>
          <p class="nom-padres">Eduardo Villagómez García</p>
          <p class="nom-padres">Liliana Nayeli Hernández Lozano</p>
        </div>
        <div class="nombres izquierda"data-aos="fade-up">
          <p class="titulo">{{traductorService.getTexto("nomPadresNovia")}}</p>
          <p class="nom-padres">Eduardo Cruz Reséndiz</p>
          <p class="nom-padres">Araceli montes Villagómez</p>
        </div>
    </div>
    <br><br>
</div>

