<div class="contenedor-portada">
  <div class="portada-container">
    <img src="assets/img-02.jpg" alt="Invitación de Boda" class="imagen-portada" />
    <div class="texto-superpuesto">
      <h1 class="heading">
        <span class="heading-subtext" style="font-size: 20px; letter-spacing: 4.9px; vertical-align: inherit;">¡NOS CASAMOS!</span>
        <span class="heading-subtext wow animate__zoomIn" style="font-size: 85px; line-height: 0.8em; word-spacing: 0.1em; -webkit-text-stroke-width: 0px; stroke-width: 0px;">Ana Lena <br>& Daniel</span>
      </h1>
    </div>
  </div>
  

  <div class="contenedor-conteo">

    <!-- <div class="contenedor-button-idioma">
      <label class="switch">
        <input type="checkbox" (change)="cambiarIdioma($event)" [attr.checked]="traductorService.lenguaje === 'ES' ? null : false">
        <span class="slider"></span>
      </label> -->
      <!--
      <label class="toggle-switch">
        <input type="checkbox"  [attr.checked]="traductorService.lenguaje === 'EN' ? true : false" (change)="cambiarIdioma($event)">
        <div class="toggle-switch-background">
          <div class="toggle-switch-handle"></div>
        </div>
      </label>-->
      <!-- <p class="texto-idioma">
        {{traductorService.getTexto("traduccion")}}
      </p>-->
      <div class="music-player">
        <audio controls>
          <source src="assets/cancion.mp3" type="audio/mp3">
          {{traductorService.getTexto("pCancion")}}

        </audio>
      </div>
    <p class="titulop">{{traductorService.getTexto("subTitulo")}}</p>
    <p class="textosec">
      {{traductorService.getTexto("mensajeBienvenida1")}}
    </p><br>
    <p class="textosec" data-aos="fade-up">
      {{traductorService.getTexto("mensajeBienvenida2")}}
    </p><br>
    <p class="textosec" data-aos="fade-up">
      {{traductorService.getTexto("mensajeBienvenida3")}}
    </p>
    

    <!--

    <p data-aos="fade-up" class="solofaltan">{{traductorService.getTexto("soloFaltan")}}</p><br>
    <div class="contador" data-aos="fade-up">
      <div class="tiempo">
        <div class="cuadro">
          <div class="numero" id="dias"></div>
          <div class="etiqueta">{{traductorService.getTexto("counterDias")}}</div>
        </div>
      </div>
      <div class="tiempo">
        <div class="cuadro">
          <div class="numero" id="horas"></div>
          <div class="etiqueta">{{traductorService.getTexto("counterHoras")}}</div>
        </div>
      </div>
      <div class="tiempo">
        <div class="cuadro">
          <div class="numero" id="minutos"></div>
          <div class="etiqueta">{{traductorService.getTexto("counterMinutos")}}</div>
        </div>
      </div>
      <div class="tiempo">
        <div class="cuadro">
          <div class="numero" id="segundos">30</div>
          <div class="etiqueta">{{traductorService.getTexto("counterSeg")}}</div>
        </div>
      </div>
    </div>
    -->

    <br>
    <br>
  </div>
</div>
