<div class="contenedor-cerem-recep">
  <div class="colum-cerm" data-aos="fade-up">
    <br>
    <img src="assets/icon-cerm.png" class="img-icon" alt="ceremonia" >
    <p class="titulo-cerm-recep" >
      {{traductorService.getTexto("tituloCeremonia")}}
    </p>
    <p class="textosec">
      Parroquia de San Antonio de Padua<br>Calle 9, Av 6 &, Las Aguilas Nezahualcóyotl, Méx.
    </p>
    <p class="textosec">
      {{traductorService.getTexto("horaCeremonia")}}
    </p>
    <a href="https://maps.app.goo.gl/NQE4fLoai32jkRjE6" class="cerm-recep-button">
      {{traductorService.getTexto("ubicacion")}}
    </a>
  </div>
  <br>
  <br>
  <div class="colum-recep" data-aos="fade-up">
    <img src="assets/icon-recep.png" class="img-icon" alt="ceremonia" >
    <p class="titulo-cerm-recep" >
      {{traductorService.getTexto("tituloRecepcion")}}
    </p>
    <p class="textosec">
      Jardín de eventos xoxicalli<br>Eugenio Avina 1469, Zona Urbana Ejidal Santa Martha Acatitla Nte., Iztapalapa.
    </p>
    <p class="textosec">
      {{traductorService.getTexto("horaRecepcion")}}
    </p>
    <a href="https://maps.app.goo.gl/xLQp34Hr2st4JAHd9" class="cerm-recep-button">
      {{traductorService.getTexto("ubicacion")}}
    </a>
  </div>
</div>
