<app-portada></app-portada>
<app-img-flores></app-img-flores>
<app-nom-padres></app-nom-padres>
<app-fech-img></app-fech-img>
<app-guar-fech></app-guar-fech>
<app-cerm-recep></app-cerm-recep>
<app-timeline></app-timeline>
<app-drees-code></app-drees-code><br><br>
<app-momentos></app-momentos><br><br><br>
<app-seg-img-flores></app-seg-img-flores>
<app-regalos></app-regalos><br><br><br>
<!-- <app-pases></app-pases><br><br><br>
<app-kids></app-kids><br><br><br>
<app-confir-asisten></app-confir-asisten><br> -->
<app-confir-asisten></app-confir-asisten>
<app-des-img></app-des-img>
<app-glasmmy></app-glasmmy>
