.contenedor-regalo{
  position: relative;
  text-align: center;
}

.colum-regalo{
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 525px;
  margin: 0px auto;
}

.container-regalo{
  margin-top: 5%;
  margin-bottom: 8%;
}

.cerm-recep-button{
  background-color: #0b3b2a;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
}

.textosec{
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  margin-right: 4%;
  margin-left: 4%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.titulo-regalo{
  font-family: "Roboto", serif ;
  font-weight: 600;
  font-size: 30px;
  color: #545454;
  margin-top: 0% !important;
  margin-bottom: 0% !important;
}

.img-icon{
  width: 25%;
  margin-bottom: 5%;
}
