<div class="contenedor-regalo" data-aos="fade-up">
  <div class="colum-regalo">
    <img src="assets/icon-regalo.png" class="img-icon" alt="">
    <p class="titulo-regalo" >
      REGALO
    </p>
    <div class="container-regalo" >
      <P class="textosec">
        Hemos preparado una lista de opciones para que puedan elegir lo que más les guste. Sin embargo, lo que más valoramos es su compañía en este día tan especial.      </P>
    </div>
    <a href="https://mesaderegalos.liverpool.com.mx/milistaderegalos/51594062" class="cerm-recep-button">
      MESA | LIVERPOOL
    </a>
  </div>
</div>
